@charset "UTF-8";

/* import */
@import "compass";
@import "config";
@import "mixin";


html {
	font-size:62.5%;
	font-family: -apple-system,BlinkMacSystemFont,"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,"Hiragino Kaku Gothic ProN","Helvetica Neue",Meiryo,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include fz(14);
	color: #333333;
	line-height: 1.57;
	@media #{$tablet} {
	}
	@media #{$mobile} {
	}
}