@charset "UTF-8";

/* import */
@import "compass";
@import "config";
@import "mixin";

/* loginフォーム */
section {
	p {
		@media #{$tablet} {
			@include fz(12);
			line-height: 1.5;
			margin-bottom: 0;
			margin-top: 18px;
		}
		&:first-child {
			@media #{$tablet} {
				margin-top: 0px;
			}
		}
		&:nth-child(3),&:nth-child(5) {
			margin-left: 436px;
			@include fz(16);
			line-height: 1.375;
			@media #{$tablet} {
				@include fz(14);
				line-height: 1.42;
				margin-top: 2px;
				margin-right: 0;
			}
		}
	}
	ul {
		@include display-flex;
		@include justify-content(space-between);
		@include align-items(flex-start);
		@include flex-direction(column);
			margin: 0 auto;
			max-width: 992px;
			width: 82.45%;
			margin-bottom: 40px;
		@media #{$tablet} {
			display:block;
			margin: 0;
			min-width: none;
			max-width: none;
			width: 100%;
		}
		span {
			&:nth-child(1) {
				width: 240px;
				text-align: left;
				@media #{$tablet} {
					@include fz(12);
					line-height: 1.5;
					width: 100%;
					display: block;
					margin-bottom: 4px;
				}
			}
			&:nth-child(2) {
				margin-left: auto;
				@media #{$tablet} {
					margin-left: none;
				}
			}
			&:nth-child(3) {
				@include fz(12);
				line-height: 1.5;
				text-align: left;
				margin-left: 16px;
				width: 141px;
				@media #{$tablet} {
					@include fz(10);
					margin-top: 4px;
					margin-left: 0;
				}
			}
			&.required::after {
				content: "必須";
				@include fz(10);
				line-height: 1;
				color: #ffffff;
				width: 32px;
				height: 16px;
				padding: 2px 6px 2px 6px;
				background-color: $lipstick;
				margin-left: 8px;
				font-weight: bold;
				text-align: center;
				@media #{$tablet} {
				}
			}
		}
		li {
			@include display-flex;
			@include justify-content(flex-start);
			@include align-items(center);
			@media #{$tablet} {
				display: block;
				min-width: 343px;
				max-width: none;
			}
			&:nth-child(1) {
				@media #{$tablet} {
					left: 0;
					right: 0;
					margin: 18px 0 2px 0;
				}
			}
			&:nth-child(2) {
				@media #{$tablet} {
					min-width: 343px;
				}
				p {
					min-width: 595px;
					@include fz(16);
					line-height: 1.375;
					margin-left: auto;
					text-align: right;
					@media #{$tablet} {
						@include fz(14);
						line-height: 1.42;
					}
				}
				span {
					@include fz(12);
					line-height: 1.5;
					text-align: left;
					min-width: 595px;
					margin-left: 240px;
					margin-top: 2px;
					@media #{$tablet} {
						min-width: none;
						margin-left: 0;
						@include fz(10);
						line-height: 1.4;
					}
				}
			}
			.disabled {
				background: $bg;
			}
		}
		&.zipcode {
			li {
				span {
					input[type="tel"] {
						min-width: 248px;
						@media #{$tablet} {
							min-width: 223px;
							width: 65%;
						}
					}
					&:nth-child(4) {
						@include fz(12);
						line-height: 1.5;
						text-align: left;
						margin-left: 16px;
						width: 141px;
						@media #{$tablet} {
							@include fz(10);
							margin-top: 4px;
							margin-left: 0;
							@include display-flex;
						}
					}
				}
				button {
					width: 96px;
					height: 48px;
					background-color: $putty;
					@include fz(12);
					line-height: 1.5;
					text-align: center;
					padding: 15px 0 15px 0;
					color: #ffffff;
					margin-left: 24px;
					@media #{$tablet} {
						width: 27%;
						min-width: 96px;
						display: block;
						float: right;
					}
				}
			}
		}
	}
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"], input[type="number"] {
	border: solid 1px #e0e0e0;
	min-width: 368px;
	max-width: 516px;
	height: 48px;
	@media #{$tablet} {
		height: 48px;
		width: 100%;
		min-width: initial;
		max-width: none;
	}
}

.radio-input{
	display: none;
	+ label{
		padding-left: 20px;
		position:relative;
		margin-right: 20px;
		left: 8px;
		@media #{$tablet} {
			@include fz(12);
			line-height: 1.5;
		}
		&::before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: -8px;
			width: 20px;
			height: 20px;
			border: 1px solid $putty;
			border-radius: 50%;
		}
	}
	&:checked + label{
		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 3px;
			left: -5px;
			width: 14px;
			height: 14px;
			background: $putty;
			border-radius: 50%;
		}
	}
}
