@charset "UTF-8";

/* import */
@import "compass";
@import "config";
@import "mixin";

/* loginフォーム */
section {
	p {
		@media #{$tablet} {
			@include fz(12);
			line-height: 1.5;
			margin-bottom: 0;
			margin-top: 18px;
		}
		&:nth-of-type(1) {
			@media #{$tablet} {
				margin-top: 0px;
			}
		}
	}

	dl {
		@include display-flex;
		@include justify-content(flex-start);
		@include align-items(center);
		@include flex-wrap(wrap);
		margin: 0 auto;
		max-width: 992px;
		width: 90%;
		margin-bottom: 40px;
		@media #{$tablet} {
			margin: 0;
			width: 100%;
			display: block;
			min-width: 100%;
			margin-bottom: 18px;
		}
		dt {
			max-width: 240px;
			min-width: 160px;
			width:28%;
			text-align: left;
			@include fz(14);
			line-height: 1.57;
			@media #{$tablet} {
				@include fz(12);
				line-height: 1.5;
				width: 100%;
				display: block;
				margin-bottom: 4px;
				max-width: initial;
				min-width: initial;
			}
			&.required::after {
				content: "必須";
				@include fz(10);
				line-height: 1;
				color: #ffffff;
				width: 32px;
				height: 16px;
				padding: 2px 6px 2px 6px;
				background-color: $lipstick;
				margin-left: 8px;
				font-weight: bold;
				text-align: center;
			}
		}
		dd {
			@include flex-grow(1);
			p {
				width: 75%;
				margin-right: 25%;
				min-width: 400px;
				@include fz(16);
				line-height: 1.375;
				text-align: right;
				min-width: 595px;
				margin-left: auto;
				margin-bottom: 0;
				@media #{$tablet} {
					width: 100%;
					margin-right: 0;
					@include fz(14);
					line-height: 1.42;
					min-width: 100px;
				}
			}
			span {
				@include fz(12);
				line-height: 1.5;
				text-align: left;
				padding-left: 256px;
				margin-top: 2px;
				@media #{$tablet} {
					min-width: initial;
					padding-left: 0;
					@include fz(10);
					line-height: 1.4;
				}
			}
			&:nth-of-type(1) {
				width: 42%;
				margin-left: 16px;
				@media #{$tablet} {
					margin-left: 0;
					width: 100%;
				}
			}
			&:nth-of-type(2) {
				@include fz(12);
				line-height: 1.5;
				text-align: left;
				margin-left: 16px;
				width: 18%;
				min-width: 80px;
				@media #{$tablet} {
					@include fz(10);
					margin-top: 4px;
					margin-left: 0;
					width: 100%;
				}
			}
			&:nth-of-type(3) {
				width: 100%;
			}
		}
		&.zipcode {
			dd {
				white-space: nowrap;
				input[type="tel"] {
					width: 67%;
					min-width: 120px;
					@media #{$tablet} {
						min-width: 223px;
					}
				}
			}
			button {
				min-width: 80px;
				width: 25%;
				height: 48px;
				background-color: $putty;
				@include fz(12);
				line-height: 1.5;
				text-align: center;
				padding: 15px 0 15px 0;
				color: #ffffff;
				display: block;
				float: right;
				@media #{$tablet} {
					width: 27%;
					min-width: 96px;
					display: block;
					float: right;
				}
			}
		}
	}
	&.confirm {
		dl {
			border-bottom: 1px solid $btn-gray-dead;
			padding-bottom: 16px;
			margin-bottom: 16px;
			@media #{$tablet} {
				margin-bottom: 10px;
			}
			&:nth-of-type(1) {
				margin-top: 32px;
				@media #{$tablet} {
					margin-top: 18px;
				}
			}
			dt {
				@media #{$tablet} {
					margin-bottom: 8px;
				}
			}
		}
		p {
			&:nth-of-type(2) {
				text-align: center;
				margin-top: 32px;
				@media #{$tablet} {
				}
			}
			.radio-input{
				+ label{
					&::before{
						border-radius: 0;
					}
					a {
						text-decoration: underline;
						color: $text;
						@include fz(14);
						line-height: 1.29;
						vertical-align: bottom;
					}
				}
				&:checked + label{
					&::after{
						border-radius: 0;
					}
				}
			}
		}
	}
}