@charset "UTF-8";

// import
@import "compass";
@import "config";
@import "mixin";

// base
main {
	section {
		.wrap {
			margin: 0 auto;
			max-width: 992px;
			width: 90%;
			@media #{$tablet} {
				margin: 0;
				width: 100%;
				display: block;
				min-width: 100%;
			}
		}
		p {
			@include fz(14);
			line-height: 1.57;
			@media #{$tablet} {
				@include fz(12);
				line-height: 1.5;
			}
		}
		.btn {
			margin-top: 40px;
			width: 400px;
			height: 40px;
			@include fz(14);
			line-height: 12px;
			@media #{$tablet} {
				width: 295px;
				height: 40px;
				line-height: 1.28;
				margin-top: 40px;
			}
		}
		.btn_putty {
			margin-top: 8px;
			width: 400px;
			height: 40px;
			@include fz(14);
			line-height: 12px;
			@media #{$tablet} {
				width: 295px;
				height: 40px;
				line-height: 1.28;
				margin-top: 20px;
			}
		}
		.btn_brdblk {
			margin-top: 24px;
			margin-bottom: 8px;
			width: 400px;
			height: 40px;
			@include fz(14);
			line-height: 12px;
			@media #{$tablet} {
				width: 295px;
				height: 40px;
				line-height: 1.28;
				margin-top: 24px;
				margin-bottom: 20px;
			}
		}
		dl {
			@include display-flex;
			@include justify-content(flex-start);
			@include align-items(center);
			@include flex-wrap(wrap);
			margin: 0 auto;
			max-width: 992px;
			width: 90%;
			margin-bottom: 8px;
			padding-bottom: 16px;
			@media #{$tablet} {
				margin: 0;
				width: 100%;
				min-width: 100%;
				margin-bottom: 10px;
				padding-bottom: 0;
			}
			dt {
				text-align: left;
				@include fz(14);
				line-height: 1.57;
				white-space: nowrap;
				width: 60px;
				@media #{$tablet} {
					@include fz(12);
					line-height: 1.5;
					width: 100%;
					display: block;
					margin-bottom: 10px;
				}
			}
			dd {
				width: 344px;
				margin-left: 80px;
				@media #{$tablet} {
					@include fz(12);
					line-height: 1.5;
					width: 100%;
					margin-left: 0;
				}
			}
		}

		// 完了通知
		&.reserve_information {
			p {
				&:nth-of-type(1) {
					margin-bottom: 40px;
					@media #{$tablet} {

					}
				}
			}

		}

		// 内容選択
		&.reserve_details {
			.btn {
					margin-top: 45px;
					@media #{$tablet} {
						margin-top: 40px;
					}
				}
				> h3 {
					margin: 0 auto;
					max-width: 992px;
					width: 90%;
					margin-top: 24px;
					@media #{$tablet} {
						margin-left: 0;
						margin-top: 18px;
					}
				}
			.description {
				width: 100%;
				padding: 8px 32px 16px 32px;
				background: $bg;
				margin-bottom: 24px;
				@media #{$tablet} {
					padding: 10px 16px;
					margin-bottom: 10px;
				}
				h3 {
					margin-bottom: 8px;
					@media #{$tablet} {
						margin-bottom: 10px;
					}
				}
				
			}
			dl {
				&.accordion {
					display: block;
					margin: 0 auto;
					max-width: 992px;
					width: 90%;
					margin-bottom: 8px;
					margin-top: 24px;
					@media #{$tablet} {
						width: 100%;
						display: block;
						min-width: 100%;
						margin-top: 16px;
					}
					dt {
						@include display-flex;
						@include justify-content(flex-start);
						@include align-items(center);
						text-align: left;
						@include fz(14);
						line-height: 1.57;
						white-space: nowrap;
						padding-right: 16px;
						margin-bottom: 21px;
						@media #{$tablet} {
							@include fz(12);
							line-height: 1.5;
							width: 100%;
							display: block;
							margin-bottom: 16px;
						}
						p {
							@include fz(12);
							line-height: 1.5;
							text-align: left;
							margin-left: 16px;
							white-space: nowrap;
							@media #{$tablet} {
								@include fz(10);
								margin-top: 4px;
								margin-left: 0;
								width: 100%;
							}
						}
						span {
							margin-left: 16px;
						}
					}
					dd {
						width: 100%;
						margin-left: 0;
						@media #{$tablet} {
							display: block;
						}
						
					}
				}
			}		
		}// &.reserve_details

		// 内容確認
		&.reserve_confirm {
			p {
				margin-bottom: 32px;
				@media #{$tablet} {
					margin-bottom: 18px;
				}
				&.agreement_link {
					text-align: center;
					margin-top: 40px;
					a {
						text-decoration: underline;
						color: $text;
						@include fz(14);
						line-height: 1.29;
						vertical-align: bottom;
					}
				}
			}
			dl {
				border-bottom: solid 1px $btn-gray-dead;
				@media #{$tablet} {
				}
			}
		}

		// 内容記入
		&.reserve {
			h3 {
				margin-top: 24px;
				margin-bottom: 24px;
				@media #{$tablet} {
					margin-top: 18px;
					margin-bottom: 10px;
				}
				&:nth-of-type(n+2) {
					margin-top: 32px;
					margin-bottom: 16px;
					@media #{$tablet} {
						margin-top: 18px;
						margin-bottom: 10px;
					}
				}
			}
			p {
				&:nth-of-type(1) {
					span {
						@media #{$tablet} {
							display: block;
						}
					}
				}
				span {
					@media #{$tablet} {
						width: 100%;
					}
				}
				&.supplement {
					max-width: 200px;
					margin-left: auto;
					@include fz(16);
					line-height: 1.13;
					text-align: right;
					white-space: nowrap;
					margin-top: 14px;
					@media #{$tablet} {
						margin-top: -6px;
						@include fz(14);
						line-height: 1.43;
					}
					&::before {
						content: "";
						background: $putty;
						width: 16px;
						height: 16px;
						@include border-radius(50%);
						display: inline-block;
						margin-right: 4px;
						position: relative;
						top:1px;
						@media #{$tablet} {
							top:2px;
						}
					}
					a {
						position: relative;
						&::before {
							content: "";
							height: 2px;
							width: 10px;
							left: -17px;
							top: 7px;
							background: #fff;
							position: absolute;
						}
						span {
							&::before {
								content: "";
								height: 2px;
								width: 10px;
								left: -17px;
								top: 7px;
								background: #fff;
								position: absolute;
								@include transform(rotate(90deg));
							}
						}
					}
				}
				&.center {
					text-align: center;
					margin-top: 36px;
					margin-bottom: 40px;
					@media #{$tablet} {
						margin-top: 20px;
						margin-bottom: 32px;
					}
					a {
						@include fz(14);
						line-height: 1.29;
						color: $text;
						text-decoration: underline;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			dl {
				width: 100%;
				margin-top: 16px;
				padding-bottom: 0;
				white-space: nowrap;
				@media #{$tablet} {
					margin-top: 18px;
					margin-bottom: 16px;
				}
				&.tel {
					dt {
						position: relative;
						bottom: 14px;
						@media #{$tablet} {
							position: static;
							width: 100%;
							font-weight: bold;
						}
					}
					dd {
						width: 368px;
						margin-left: 40px;
						@media #{$tablet} {
							width: 100%;
							margin-left: 0;
						}
					}
				}
				&.border {
					border-bottom: 1px solid $btn-gray-dead;
					padding-bottom: 40px;
					@media #{$tablet} {
						margin-top: 18px;
						padding-bottom: 24px;
					}
					dt {
						width: 98px;
					}
					dd {
						@media #{$tablet} {
							width: 100%;
							margin-left: 0;
						}
					}
				}
				&.modify {
					margin-top: 24px;
					@media #{$tablet} {
						margin-top: 10px;
						margin-bottom: 10px;
					}
					dt {
						font-weight: bold;
						@media #{$tablet} {
							margin-bottom: 4px;
						}
					}
					dd {
						@media #{$tablet} {
							margin-left: 0;
						}
					}
				}

				&.list {
					dt {
						width: 100%;
						@media #{$tablet} {
							margin-bottom: 0;
						}
					}
					dd {
						width: 100%;
						margin-left: 16px;
						margin-top: 16px;
						@media #{$tablet} {
							margin-top: 15px;
							margin-left: 0;
							padding-left: 16px;
							@include flex-wrap(wrap);
							@include display-flex;
							@include justify-content(flex-start);
						}
						label {
							@media #{$tablet} {
								margin-right: 20px;
								width: 40%;
							}
							&:nth-of-type(n+3) {
								@media #{$tablet} {
									margin-top: 13px;
								}
							}
						}
						.radio + .radio {
							@media #{$tablet} {
						    	margin-left: 0;
						    }
						}
					}
				}
				&.box {
					@include align-items(center);
					@include flex-wrap(nowrap);
					border: 1px solid $putty;
					@media #{$tablet} {
					}
					dt {
						margin: 28px 40px;
						width: 20px;
						/* width: 100px;
						text-align: center; */
						@media #{$tablet} {
							margin: 20px 16px;
						}
					}
					dd {
						margin-top: 0;
						margin-left: 0;
						@include display-flex;
						@include flex-wrap(wrap);
						@include justify-content(space-between);
						width: 100%;
						@media #{$tablet} {
							display: block;
						}
						p {
							&:nth-of-type(1) {
								margin-top: 12px;
								margin-bottom: 8px;
								width: 100%;
								@media #{$tablet} {
									margin-top: 10px;
									margin-bottom: 10px;
									width: auto;
								}
							}
							&:nth-of-type(2) {
								margin-bottom: 16px;
								@media #{$tablet} {
									@include fz(10);
									line-height: 1.4;
									margin-bottom: 16px;
								}
								span {
									margin-right: 32px;
									@media #{$tablet} {
										margin-right: 8px;
									}
								}
							}
							&:nth-of-type(3) {
								margin-bottom: 16px;
								@include fz(16);
								line-height: 1.13;
								margin-left: auto;
								@media #{$tablet} {
									@include fz(14);
									line-height: 1.43;
									width: auto;
								}
								span {
									margin-right: 32px;
									@media #{$tablet} {
										margin-right: 16px;
									}
								}
							}
						}
					}
				}
				dt {
					width: 98px;
					@media #{$tablet} {
						width: 100%;
					}
				}
				dd {
					margin-left: 40px;
					@media #{$tablet} {
						width: 100%;
					}
				}
				.remind {
					p {
						color: $lipstick;
						@include fz(12);
						line-height: 1.5;
						text-align: left;
						width: 100%;
						font-weight: bold;
						padding-top: 10px;
						@media #{$tablet} {
							width: 100%;
							position: relative;
							padding-top: 2px;
						}
					}
				}
			}
		} // &.reserve

		&.waiting_list {
			.check + .check {
				margin-left: 0;
			}
			h3 {
				margin-top: 32px;
				margin-bottom: 24px;
				@media #{$tablet} {
					margin-top: 18px;
					margin-bottom: 16px;
				}
				&:nth-of-type(2) {
					margin-top: 16px;
					@media #{$tablet} {
						margin-top: 18px;
						margin-bottom: 10px;
					}
				}
			}
			dl {
				width: 100%;
				padding-bottom: 0;
				margin-bottom: 0;
				margin-top: 16px;
				&:last-of-type {
					margin-bottom: 32px;
					@media #{$tablet} {
						margin-bottom: 18px;
					}
				}
				dt {
					width: 100%;
					height: 40px;
					background: $bg;
					color: $text;
					font-weight: bold;
					padding: 8px 0 12px 16px;
					position: relative;
					@media #{$tablet} {
						margin-bottom: 0;
						padding: 10px 0 10px 16px;
					}
					&::before {
						content: "";
						height: 2px;
						width: 8px;
						top: 18px;
						right: 30px;
						background: $putty;
						position: absolute;
						@include transform(rotate(45deg));
						@include transition(.35s ease-in-out);
					}
					&::after {
						content: "";
						height: 2px;
						width: 8px;
						top: 18px;
						right: 25px;
						background: $putty;
						position: absolute;
						@include transform(rotate(-45deg));
						@include transition(.35s ease-in-out);
					}
					&.active {
						&::before {
						content: "";
						height: 2px;
						width: 8px;
						top: 18px;
						right: 30px;
						background: $putty;
						position: absolute;
						@include transform(rotate(-45deg));
						@include transition(.35s ease-in-out);
						}
						&::after {
							content: "";
							height: 2px;
							width: 8px;
							top: 18px;
							right: 25px;
							background: $putty;
							position: absolute;
							@include transform(rotate(45deg));
							@include transition(.35s ease-in-out);
						}
					}
				}
				dd {
					width: 100%;
					margin-left: 32px;
					label {
						width: 100%;
						display: block;
						margin-top: 16px;
					}
				}
			}
		}

	} // section
} // main
