@charset "UTF-8";

/* import */
@import "compass";
@import "config";
@import "mixin";


html {
	font-size:62.5%;
	font-family: -apple-system,BlinkMacSystemFont,"游ゴシック Medium","Yu Gothic Medium","游ゴシック体",YuGothic,"Hiragino Kaku Gothic ProN","Helvetica Neue",Meiryo,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include fz(14);
	color: $text;
	line-height: 1.57;
	header {
		position: fixed;
		color: #033560;
		width: 200px;
		text-align: center;
		z-index: 100;
		@media #{$tablet} {
			position: relative;
			width: 100%;
			height: 56px;
			@include display-flex;
			@include justify-content(space-between);
		}
		.brand_logo {
			a {
				display: block;
				padding: 23px 48px 31px 24px;
				@media #{$tablet} {
					padding: 0;
				}
				img {
					width: 100%;
					@media #{$tablet} {
						width: 108px;
					}
				}
			}
			@media #{$tablet} {
				padding: 8px 0px 0px 16px;
				@include animation(fadeIn 1.3s ease 0s 1 normal);
				@include keyframes(fadeIn) {
					0% {
						opacity: 0;
					}
					100% {
						opacity: 1
					}
				}
			}
		}
		ul {
			display: none;
			@media #{$tablet} {
				@include display-flex;
				margin: 0;
				padding: 0;
				list-style: none;
			}
			li.btn {
				@media #{$tablet} {
					@include btn;
					@include border-radius(16px);
					margin: 16px 8px 8px 0;
					width: 88px;
					height: 32px;
					@include fz(10);
				}
			}
			li.btn_putty {
				@media #{$tablet} {
					@include btn(putty);
					@include border-radius(16px);
					margin: 16px 8px 8px 0;
					width: 88px;
					height: 32px;
					@include fz(10);
				}
			}
		}
	}
	// スマホメニューボタン
	.sp_nav {
		display: none;
		@media #{$tablet} {
			z-index: 400;
			position: fixed;
			top: 478px;
			left: 0px;
			width:48px;
			height: 64px;
			background-color: $putty;
			box-shadow: 1px 1px 2px 0 rgba(#000, 0.2);
			display: block;
			@include transition(.35s ease-in-out);
			&.is-hide {
				 @include opacity(0);
			}
			button {
				position: relative;
				margin:0 auto;
				width: 100%;
				height: 100%;
				&::before {
					content: "";
					height: 2px;
					left: 10px;
					display: block;
					background: #fff;
					position: absolute;
					@include transition(.35s ease-in-out);
					top: 20px;
					width: 28px;
				}
				span {
					width: 100%;
					&::before {
						content: "";
						width: 28px;
						height: 2px;
						left: 10px;
						display: block;
						background: #fff;
						position: absolute;
						@include transition(.35s ease-in-out);
						top: 26px;
					}
					&::after {
						content: "menu";
						display: block;
						position: relative; 
						top: 18px;
						left:10px;
						text-align: center;
						font-weight: bold;
						color: #fff;
						@include fz(10);
						line-height: 12px;
						width: 28px;
					}
				}
				&::after {
					content: "close";
					display: none;
					position: relative; 
					top: 18px;
					left:10px;
					text-align: center;
					font-weight: bold;
					color: #fff;
					@include fz(10);
					line-height: 12px;
					width: 28px;
				}
			}
		}
	}

	//メニュー
	.sidebar {
		padding-top: 116px;
		width: 200px;
		height: 100%;
		position: fixed;
		background-color: #ffffff;
		box-shadow: 2px 0 4px 0 rgba(#000, 0.1);
		@media #{$tablet} {
			z-index: 300;
			position: fixed;
			left: -200px;
			top: 0;
			padding-top: 0px;
			height: 100%;
			width: 200px;
			color: $text;
			background: #fff;
			@include transition(.35s ease-in-out);
		}
		.brand_logo {
			display: none;
			@media #{$tablet} {
				display: block;
				a {
					display: block;
					padding: 8px 85.8px 0px 16px;
					img {
						width: 98.3px;
					}
				}
			}
		}
		nav {
			@include fz(14);
			list-style: none;
			font-weight: 500;
			line-height: 1;
			text-align: left;
			color: $text;
			width: 200px;
			@media #{$tablet} {
				display: block;
				margin:0 auto;
				@include fz(14);
				font-weight: 500;
				line-height: 1;
				position: relative;
				margin-top: 48px;
			}
			ul {
				margin:0 auto;
				@media #{$tablet} {
				}
				li {
					position: relative;
					height: 60px;
					@media #{$tablet} {
					    position: relative;
					    height: 54px;
					}
					a {
						color: $text;
						text-decoration: none;
						display: block;
						@include transition(background-color .3s linear);
						padding:24px 36px 24px 40px;
						&.current {
							background: $bg;
						}
						@media #{$tablet} {
							padding:20px 36px 20px 40px;
						}
						&:hover, &:focus {
							background: $bg;
							@media #{$tablet} {
							}
						}
					}
				}
			}
		}/* /nav */
		.btn {
			@include btn;
			@include border-radius(20px);
			margin-top: 39px;
			width: 128px;
			height: 39px;
			@include fz(12);
			line-height: 1;
			@media #{$tablet} {
				height: 40px;
				margin-top: 16px;
			}
		}
		.btn_putty {
			@include btn(putty);
			@include border-radius(20px);
			margin-top: 23px;
			width: 128px;
			height: 39px;
			@include fz(12);
			line-height: 1;
			@media #{$tablet} {
				height: 40px;
				margin-top: 16px;
			}
		}
	}/* /sidebar */
	.modal_overlay {
		z-index: 200;
		display: none;
		position: fixed;
		background: rgba(#000,.6);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	//スマホメニューボタン メニュー表示時
	&.open {
		@media #{$tablet} {
			overflow: hidden;
			header .brand_logo {
				display: none;
				@include transition(.35s ease-in-out);
			}
			.sp_nav {
				left: 200px;
				@include opacity(1);
				@include transition(.35s ease-in-out);
				button {
					&::before {
						content: "";
						top: 24px;
						@include transform(rotate(45deg));
					}
					span {
						&::before {
							content: "";
							top: 24px;
							@include transform(rotate(-45deg));
						}
						&::after {
							content: "";
							display: none;
						}
					}
					&::after {
						content: "close";
						display: block;
					}
				}
			}
			.sidebar {
				@include transform(translate3d(200px,0,0));
			}
			.modal_overlay {
				display: block;
			}
		}
	}
	main {
		p {
			margin-bottom: 1em;
			line-height: 1.9;
		}
		.main_in {
			padding-left: 200px;
			@media #{$tablet} {
				padding-left: 0;
				width: 100%;
			}
			.main_head {
				background: #f0ebe6;
				height: 140px;
				@include justify-content(center);
				padding: 30px 40px 40px 40px;
				@media #{$tablet} {
					height: 96px;
					padding: 22px 16px 22px 16px;
				}
			}
			.sub_head {
				background: $bg;
				height: 56px;
				margin-top: 1px;
				padding: 16px 0 18px 40px;
				@media #{$tablet} {
					height: 48px;
					padding: 15px 0 15px 16px;
				}
			}
			.inner {
				padding: 32px 40px;
				@media #{$tablet} {
					padding: 20px 16px;
				}
				.btn {
					@include btn;
					margin-top: 40px;
					width: 400px;
					height: 40px;
					@include fz(12);
					line-height: 12px;
					@media #{$tablet} {
						width: 295px;
						height: 40px;
						@include fz(14);
						line-height: 1.28;
						margin-top: 40px;
					}
				}
				.btn_putty {
					@include btn(putty);
					margin-top: 8px;
					width: 400px;
					height: 40px;
					@include fz(12);
					line-height: 12px;
					@media #{$tablet} {
						width: 295px;
						height: 40px;
						@include fz(14);
						line-height: 1.28;
						margin-top: 20px;
					}
				}
				.btn_brdblk {
					@include btn(brdblk);
					margin-top: 24px;
					margin-bottom: 8px;
					width: 400px;
					height: 40px;
					@include fz(12);
					line-height: 12px;
					@media #{$tablet} {
						width: 295px;
						height: 40px;
						@include fz(14);
						line-height: 1.28;
						margin-top: 24px;
						margin-bottom: 20px;
					}
				}
			}
		}

	}
	footer {
		width: 100%;
		padding: 0px;
		background: rgba(#fff,.8);
		@include display-flex;
		.footer_in {
			width: 100%;
			padding-left: 200px;
			@media #{$tablet} {
				padding-left: 0;
				width:100%;
			}
			.breadcrumb {
				margin-left:0;
				text-align: left;
				overflow: hidden;
				@include fz(12);
				background: #f1f1f1;
				padding: 12px 40px 14px 40px;
				height: 48px;
				line-height: 22px;
				@media #{$tablet} {
					width:100%;
					padding: 12px 16px 14px 16px;
				}
				li {
					display:inline;
					list-style: none;
					font-weight: bold;
					line-height: 1.83;
					text-align: left;
					color: $text;
					height: 22px;
					a {
					    text-decoration: none;
					    font-weight: 500;
					    color: #c7b299;
					    &:hover {
						    text-decoration: underline;
						}
					}
					&::after{
						content: '>';
						padding: 0 3px;
						color: #8186a0;
					}
					&:last-child::after{
						content: '';
					}
				}
			}
			.information {
				height: 62px;
				background-color: #ffffff;
				padding: 18px 40px 24px 40px;
				@media #{$tablet} {
					height: 252px;
					padding: 0px 16px 32px 16px;
				}
				ul {
					text-align: center;
					@media #{$tablet} {
						height: 100%;
					}
					li {
						display:inline;
						color: $putty;
						height: 20px;
						@include fz(14);
						font-weight: bold;
						line-height: 1.83;
						padding: 0 8px;
						@media #{$tablet} {
							display:block;
							padding: 0;
							position: relative;
							margin-top:20px;
							text-align: left;
						}
						a {
							text-decoration: none;
							font-weight: 500;
							color: #c7b299;
							&:hover {
							    text-decoration: underline;
							}
						}
					}
				}
			}
			.copyright {
				height: 80px;
				padding: 16px 40px 24px 40px;
				@include fz(12);
				font-weight: 500;
				line-height: 1.67;
				text-align: center;
				color: $text;
				@media #{$tablet} {
					padding: 20px 16px 24px 16px;
					@include fz(10);
					line-height: 1.4;
				}
				a {
					text-decoration: none;
					&:hover {
					    text-decoration: underline;
					}
				}
			}
		}
	}
}

//グローバルスタイル
a, a span {
	color: $putty;
	text-decoration: none;
	&:hover {
		text-decoration:underline;
	}
}
button[type="button"]:focus {
  outline: 0;
}

hr.primary{
	border: 0.5px solid #f1f1f1;
}

h1 {
	@include h1_standard;
	span {
		display: block;
		@include h1_sub($color: $text);
	}
}

h3 {
	@include h3_standard;
}

//フォームレイアウト
[type="text"],
[type="password"],
[type="email"],
[type="tel"],
[type="number"] {
	width: 100%;
	border: solid 1px #e0e0e0;
	min-width: 200px;
	max-width: 800px;
	height: 48px;
	&:disabled {
		background: $bg;
	}
	@media #{$tablet} {
		height: 48px;
		width: 100%;
		min-width: initial;
		max-width: none;
	}
}

.radio {
	padding-left: 28px;
	position:relative;
	@media #{$tablet} {
		@include fz(12);
		line-height: 1.5;
	}
	& + .radio {
		margin-left: 20px;
	}
	&::before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 20px;
		height: 20px;
		margin: auto;
		border: 1px solid $putty;
		border-radius: 50%;
	}
	[type="radio"]:checked {
		&::after{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 3px;
			width: 14px;
			height: 14px;
			margin: auto;
			background: $putty;
			border-radius: 50%;
		}
	}
}
